[Unit]
Description=placeholder
After=network.target

[Service]
ExecStart=cmd/server.sh
User=tim
WorkingDirectory=/home/tim/pelias/placeholder
StandardOutput=file:/home/tim/log/placeholder.log
StandardError=file:/home/tim/log/placeholder.err.log
Restart=Always

[Install]
WantedBy=multi-user.target
